<?php

$config['db_dsnw'] = 'pgsql://{{ db.user }}:{{ db.password }}@{{ db.host }}/{{ db.database }}';

$config['imap_host'] = 'ssl://{{ mailname }}:993';
$config['imap_auth_type'] = null;

$config['smtp_host'] = 'ssl:///{{ mailname }}:465';
$config['smtp_auth_type'] = null;

$config['smtp_helo_host'] = '{{ domain }}';

$config['managesieve_host'] = 'tls://{{ mailname }}:4190';
$config['managesieve_vacation'] = 1;

$config['imap_cache'] = 'redis';
$config['imap_cache_ttl'] = '3d';
$config['messages_cache_ttl'] = '3d';
$config['messages_cache_threshold'] = 50;
$config['session_storage'] = 'redis';
$config['redis_hosts'] = ['redis:6379'];

$config['disabled_actions'] = [];
$config['advanced_prefs'] = [];

$config['display_product_info'] = 0;

$config['session_lifetime'] = 60;

$config['proxy_whitelist'] = ['10.0.0.0/8', '172.16.0.0/12'];

$config['product_name'] = 'Webmail';

$config['plugins'] = [
    'archive',
    'zipdownload',
    'managesieve',
    'markasjunk',
    'acl',
    'password',
];

$config['message_sort_col'] = 'date';
$config['message_sort_order'] = 'DESC';
$config['list_cols'] = ['subject', 'status', 'fromto', 'date', 'size', 'flag', 'attachment'];
$config['date_format'] = 'Y-m-d';
$config['date_formats'] = ['Y-m-d', 'Y/m/d', 'Y.m.d', 'd-m-Y', 'd/m/Y', 'd.m.Y', 'j.n.Y'];
$config['time_format'] = 'H:i a';
$config['time_formats'] = ['G:i', 'H:i', 'g:i a', 'h:i A'];
$config['date_short'] = 'D H:i a';
$config['date_long'] = 'Y-m-d H:i';

$config['drafts_mbox'] = 'Drafts';
$config['junk_mbox'] = 'Junk';
$config['sent_mbox'] = 'Sent';
$config['trash_mbox'] = 'Trash';
$config['create_default_folders'] = false;
$config['protect_default_folders'] = true;
$config['quota_zero_as_unlimited'] = true;
$config['check_all_folders'] = true;

$config['address_book_type'] = '';

$config['default_charset'] = 'UTF-8';
$config['skin'] = 'elastic';
$config['htmleditor'] = 4;
$config['layout'] = 'widescreen';
$config['display_next'] = false;
$config['default_list_mode'] = 'threads';
$config['autoexpand_threads'] = 0;
$config['reply_mode'] = 1;
$config['default_font'] = 'Verdana';
$config['available_fonts'] = [
    'Andale Mono' => '"Andale Mono",Times,monospace',
    'Arial' => 'Arial,Helvetica,sans-serif',
    'Arial Black' => '"Arial Black","Avant Garde",sans-serif',
    'Book Antiqua' => '"Book Antiqua",Palatino,serif',
    'Courier New' => '"Courier New",Courier,monospace',
    'Georgia' => 'Georgia,Palatino,serif',
    'Helvetica' => 'Helvetica,Arial,sans-serif',
    'Impact' => 'Impact,Chicago,sans-serif',
    'Tahoma' => 'Tahoma,Arial,Helvetica,sans-serif',
    'Terminal' => 'Terminal,Monaco,monospace',
    'Times New Roman' => '"Times New Roman",Times,serif',
    'Trebuchet MS' => '"Trebuchet MS",Geneva,sans-serif',
    'Verdana' => 'Verdana,Geneva,sans-serif',
];
$config['default_font_size'] = '10pt';
$config['available_font_sizes'] = ['8pt', '9pt', '10pt', '11pt', '12pt', '14pt', '18pt', '24pt', '36pt'];
$config['message_show_email'] = true;
$config['reply_all_mode'] = 0;
