---
services:
  redis:
    image: redis:7.2.5-alpine
    container_name: roundcube-redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
    networks:
      roundcube:
    sysctls:
      - net.core.somaxconn=4096

  webmail:
    image: roundcube/roundcubemail:1.6.7-fpm-alpine
    container_name: roundcube-webmail
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.roundcube_cleandb.schedule: "@every 168h"
      ofelia.job-exec.roundcube_cleandb.user: "www-data"
      ofelia.job-exec.roundcube_cleandb.command: "/bin/bash -c \"[ -f /var/www/html/bin/cleandb.sh ] && /var/www/html/bin/cleandb.sh\""
    networks:
      roundcube:
    volumes:
      - /opt/roundcube/www:/var/www/html
      - /opt/roundcube/config:/var/roundcube/config
  
  nginx:
    image: nginx:1.27.0-alpine
    container_name: roundcube-nginx
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_proxy

      - traefik.http.routers.roundcube_http.rule=Host(`{{ domain }}`)
      - traefik.http.routers.roundcube_http.entrypoints=web
      - traefik.http.routers.roundcube_http.service=roundcube_http
      - traefik.http.routers.roundcube_http.middlewares=redirect-to-https
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.services.roundcube_http.loadbalancer.server.port=80

      - traefik.http.routers.roundcube_https.rule=Host(`{{ domain }}`)
      - traefik.http.routers.roundcube_https.entrypoints=websecure
      - traefik.http.routers.roundcube_https.service=roundcube_https
      - traefik.http.routers.roundcube_https.tls=true
      - traefik.http.routers.roundcube_https.tls.certresolver=letsencrypt
      - traefik.http.services.roundcube_https.loadbalancer.server.port=80
    ports:
      - "9000:9000"
    depends_on:
      - webmail
    networks:
      roundcube:
      proxy:
    volumes:
      - /opt/roundcube/www:/var/www/html
      - /opt/roundcube/nginx.conf:/etc/nginx/conf.d/default.conf

networks:
  roundcube:
  proxy:
    name: traefik_proxy
    external: true
