#!/bin/sh

### roundcube ###
cd /opt/roundcube

# finalize installation
echo "{{ version }}" > /opt/roundcube.version

# restart services
systemctl daemon-reload
systemctl restart roundcube

# cleanup old images
sleep 90
docker image prune --all --force
