<?php

$config['password_driver'] = 'mailcow';
$config['password_confirm_current'] = true;
$config['password_mailcow_api_host'] = 'https://{{ mailname }}';
$config['password_mailcow_api_token'] = '{{ apiToken }}';

$config['password_minimum_length'] = 16;
