[Unit]
Description=Run Roundcube
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/roundcube
ExecStartPre=/usr/bin/docker compose --project-name roundcube pull
ExecStart=/usr/bin/docker compose --project-name roundcube up --force-recreate --remove-orphans
ExecStop=/usr/bin/docker compose --project-name roundcube stop

[Install]
WantedBy=multi-user.target
