#!/bin/sh

### simplelogin ###
cd /opt/simplelogin

# installation
chmod +x /opt/simplelogin/init.sh

# finalize installation
echo "{{ version }}" > /opt/simplelogin.version

# restart services
systemctl daemon-reload
systemctl enable simplelogin
systemctl restart simplelogin

# cleanup old images
sleep 90
docker image prune --all --force
